{:deps
 {io.github.clj-kondo/clj-kondo-bb
  {:git/tag "v2023.01.20" :git/sha "adfc7df"}}

 :tasks
 {test:clj
  {:doc "Run CLJ tests."
   :task (shell "clojure -X:test:runner")}

  test:cljs
  {:doc "Run CLJS tests."
   :task (shell "npm run test")}

  release
  {:doc "Release the library to Clojars."
   :task (shell "clojure -T:build publish")}

  lint
  {:doc "Lint with clj-kondo."
   :task (exec 'clj-kondo.core/exec)
   :exec-args {:lint ["src" "test"]}}}}
