{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "{{clj-version}}"}
        io.github.nextjournal/clerk {:git/sha "{{clerk-sha}}"}
        io.github.mentat-collective/emmy {:git/sha "{{emmy-version}}"
                                          ;; This is required because Clerk specifies SCI using a
                                          ;; git dependency and `clojure` can't resolve the
                                          ;; conflict.
                                          :exclusions [org.babashka/sci]}
        io.github.mentat-collective/clerk-utils {:git/sha "{{clerk-utils-sha}}"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     ;; make sure this sha matches the one in `:deps` above.
     :git/sha "{{clerk-sha}}"
     :deps/root "render"}}
   :exec-fn user/build!}}}
